body{
	background: #E2ECEE;
	width: 80%;
	margin: 50px auto;
}
#wrapper{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 20px 45px;
	margin: -20px auto;
	background: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
#basic{
	/* border: 1px solid #555; */
	display: flex;
	height: 35px;
}
#basic #user{
	width: 33%;
}
#basic #title{
	width: 33%;
}
#basic #cart{
	width: 34%;
}
#basic #user p{
  margin-top: 18px;
}
#basic #user h1{
	font-size: 18px;
	/* text-align: center; */
}
#basic #cart label{
	float: right;
	background: #798e94;
	color: #fff;
	padding: 3px 7px;
	border-radius: 4px;
	margin-top: 14px;
	/*! margin-left: 29px; */
}
#basic #cart img{
  width: 38px;
	height: 36px;
	float: right;
	margin-top: -1px;
  filter: brightness(125%);
}
hr{ color: #ffffff80; }
#infobar{
	background: #E2ECEE;
	color: #798e94;
	padding: 4px 10px;
	border-radius: 0px 0px 6px 6px;
	margin-top: -7px;
	display: flex;
}
#infobar > #left{
	width: 70%;
}
#infobar > #left > #path{
  margin-top: 2px;
}
#infobar > #right{
	width: 30%;
	/*! border: 1px solid #555; */
	display: flex;
}
#infobar > #right > #btnUser{
  	margin-left: auto;
}
#content{
	/*border: 1px solid #555;*/
	display: flex;
	flex-flow: column wrap;
	padding: 20px 0 30px 0px;
}
#content table {
    /* width: 100%; */
    text-align: left;
    border-collapse: collapse;
    border-radius: 6px;
    margin: 0 auto;
}
#content #up{
  /*! border: 1px solid red; */
	width: 100%;
	margin-top: -10px;
  	padding-bottom: 15px;
}
#content #up form{
  	float: left;
}
#content #up label{
  	float: right;
	margin-top: 8px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 5% auto;
    padding: 20px 45px;
    border: 1px solid #888;
    width: 525px;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    background: #ffff;
    box-shadow: 0px 5px 10px #B5C1C5,
                0 0 0 10px #EEF5F7 inset;
}
.modal-content #down{
	width: 100%;
	/*! border: 1px solid red; */
}
.modal-content form{
	margin: 0 auto;
	width: 370px;
}
.modal-content span{
	width: 100px;
	display: inline-block;
}
.modal-content input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"]{
	margin-top: 5px;
}
.modal-content h1{
	font-size: 18px;
	margin-top: 3px;
}
.modal-content hr{
	margin-top: -5px;
}
.modal-content input[type='submit']{
	width: 150px;
	height: 32px;
	font-weight: bold;
	/*! margin: 15px 75px; */
	margin-left: 75px;
	margin-top: 25px;
	margin-bottom: 10px;
}
.modal input[type='file']{
	padding: 5px 12px !important;
}
.inputProd{
  	width: 30px !important;
}
.inputAmount{
  	width: 40px !important;
	margin-left: 50px !important;
}
.products{
	margin-left: 105px;
}
#addProduct{
	width: 10px;
	padding: 0px 4px 2px 4px;
    background:#E2ECEE;
	border-radius: 56px;
    cursor: pointer;
	margin-left: -25px;
	position: absolute;
	margin-top: -4px;
	font-size: 11px;
}





