body{
	background: #E2ECEE;
	width: 500px;
	margin: 70px auto;
}
a{
	text-decoration: underline;
}
#logo{
  	width: 350px;
	margin: auto 80px;
	padding-bottom: 5px;
  	filter: sepia(30%);
}
#wrapper{
	width: 300px;
	height: 200px;
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 45px 45px 20px;
	margin: 0px auto;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
#wrapper img{
	position: absolute;
	width: 32px;
	margin: 4px 13px;
	filter: brightness(150%) saturate(85%);
}
div{
	margin-bottom: 10px;
}
input[type='text'],
input[type='password']{
	padding: 7px 22px;
	margin: 3px 72px;
}
input[type='submit']{
    margin: 15px 0px;
    padding: 8px 126px;
    font-weight: bold;
}






