*{
	font-family: sans-serif;
	font-size: 12px;
	color: #798e94;
}
body{
	background: #E2ECEE;
	width: 80%;
	margin: 50px auto;
}
#wrapper{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 20px 45px;
	margin: -20px auto;
	background: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
hr{
	color: #ffffff80;
}
h1{
	text-align: center;
	font-size: 18px;
}
#unlogin{
  float: right;
}
input[type=submit] {
	float: right;
	padding:5px 15px;
	background:#E2ECEE;
	border:0 none;
	cursor:pointer;
	border-radius: 5px;
}
p{
	margin-top: -30px;
}
form{
	margin-top: -40px;
}
#content{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	/* border: 1px solid #555; */
}
a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5px;
	background: #E2ECEE;
	border-radius: 6px;
	transition: 250ms;
	margin: 5px 5px;
	width: 165px;
}
.product{

}
.product:hover{
	transition: 250ms;
	background: #C8D6E4;
}
.product img{
	width: 160px;
	height: 100px;
	border: 2px solid #CED5D7;
	border-radius: 6px;
}
.product h3{
 	margin-top: 7px;
	margin-left: 5px;
}
.product p{
 	margin-top: -5px;
	margin-left: 5px;
}




