body{
	background: #E2ECEE;
	width: 80%;
	margin: 50px auto;
}
#wrapper{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 20px 45px;
	margin: -20px auto;
	background: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
#basic{
	/* border: 1px solid #555; */
	display: flex;
	height: 35px;
}
#basic #user{
	width: 33%;
}
#basic #title{
	width: 33%;
}
#basic #cart{
	width: 33%;
}
#basic #user p{
  margin-top: 18px;
}
#basic #title h1{
	font-size: 18px;
	text-align: center;
}
#basic #cart label{
	float: right;
	background: #798e94;
	color: #fff;
	padding: 3px 7px;
	border-radius: 10px;
}
#basic #cart img{
  width: 38px;
	height: 36px;
	float: right;
	margin-top: -1px;
  filter: brightness(125%);
}
hr{ color: #ffffff80; }
#infobar{
	background: #E2ECEE;
	color: #798e94;
	padding: 4px 10px;
	border-radius: 0px 0px 6px 6px;
	margin-top: -7px;
	display: flex;
}
#infobar > #left{
	width: 70%;
}
#infobar > #left > #path{
  margin-top: 2px;
}
#infobar > #right{
	width: 30%;
	/*! border: 1px solid #555; */
	display: flex;
}
#infobar > #right > #btnUser{
  margin-left: auto;
}
#content{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: space-around; */
	/* border: 1px solid #555; */
}
#content a{
	text-decoration: none;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	padding: 5px;
	background: #E2ECEE;
	border-radius: 6px;
	transition: 250ms;
	margin: 5px 5px;
	width: 165px;
}
#content .product{

}
#content a:hover{
	transition: 250ms;
	background: #C8D6E4;
}
#content .product img{
	width: 160px;
	height: 100px;
	border: 2px solid #CED5D7;
	border-radius: 6px;
}
#content .product h3{
 	margin-top: 7px;
	margin-left: 5px;
}
#content .product p{
 	margin-top: -5px;
	margin-left: 5px;
}




