body{
	background: #E2ECEE;
	width: 80%;
	margin: 50px auto;
}
#wrapper{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding: 20px 45px;
	margin: -20px auto;
	background: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
#basic{
	/* border: 1px solid #555; */
	display: flex;
	height: 35px;
}
#basic #user{
	width: 33%;
}
#basic #title{
	width: 33%;
}
#basic #cart{
	width: 33%;
}
#basic #user p{
  margin-top: 18px;
}
#basic #title h1{
	font-size: 18px;
	text-align: center;
}
#basic #cart label{
	float: right;
	background: #798e94;
	color: #fff;
	padding: 3px 7px;
	border-radius: 10px;
}
#basic #cart img{
  	width: 38px;
	height: 36px;
	float: right;
	margin-top: -1px;
  	filter: brightness(125%);
}
hr{ color: #ffffff80; }
#infobar{
	background: #E2ECEE;
	color: #798e94;
	padding: 4px 10px;
	border-radius: 0px 0px 6px 6px;
	margin-top: -7px;
	display: flex;
}
#infobar > #left{
	width: 70%;
}
#infobar > #left > #path{
  margin-top: 2px;
}
#infobar > #right{
	width: 30%;
	/*! border: 1px solid #555; */
	display: flex;
}
#infobar > #right > #btnUser{
  margin-left: auto;
}
#content{
	/* border: 1px solid #555; */
	display: flex;
	flex-direction: column;
	padding: 5px;
	margin: 5px 5px;
}
#content #row1{
  /*! border: 1px solid blue; */
	padding: 10px 10px;
	display: flex;
	background: #E2ECEE;
	border-radius: 6px;
	width: 575px;
  margin: 0 auto;
}
#content #row2{
	/* border: 1px solid red; */
	padding: 3px 10px;
	background: #E2ECEE;
	border-radius: 6px;
	width: 575px;
	margin: 10px auto;
}
#row1 > #image{

}
#row1 > #info{
	padding: 0px 5px;
	margin-left: 5px;
}
#content hr{
  	color: #798e9460;
  	/*! padding: 5px; */
  	width: 250px;
  	/*! float: left; */
  	margin-left: 8px;
}
#content img{
	width: 290px;
	height: 210px;
	border: 2px solid #CED5D7;
	border-radius: 6px;
}
#content h1{
	margin-top: 7px;
	margin-left: 10px;
	font-size: 16px;
}
#content h2{
 	margin-top: 10px;
	margin-left: 10px;
}
#content h2 label{

}
#content h2 label#integer{
  font-size: 26px;
}
#content h2 label#decimal{
  font-size: 20px;
	margin-left: 0px;
}
#content h3{
 	margin-top: 10px;
	margin-left: 10px;
}
#content h3 label{
	color: #dcf3f1;
	padding: 2px 5px;
	border-radius: 3px;
}
#content h3 label#green{
	background: #28ba28;
}
#content h3 label#red{
	background: #c82d2d;
}
#content p{
	margin-top: 7px;
	margin-left: 5px;
	padding-top: 5px;
}
#content input[type='submit']{
	float: left;
	border: none;
	padding: 5px 0px;
	/* width: 110px; */
	width: 245px;
	border-radius: 7px;
	font-weight: bold;
	margin: 8px 10px;
	background: #6c96a2;
	color: #dbe9f0;
	transition: 150ms;
	cursor: pointer;
}
#content input[type='submit']:hover{
	background: #2a6581bb;
	transition: 150ms;
}
#content input[type='submit']:active{
	background: #2a6581ee;
	transition: 150ms;
}
#content input[type='number']{
	background: #c8d7decc;
	color: #798e94;
	transition: 150ms;
	border: none;
	padding: 6px 0px;
	padding-left: 23px;
	width: 46px;
	border-radius: 7px;
	margin: 0px 16px;
	/*! padding-right: 100px; */
}
table{
	width: 520px;
}


