/* ----------------------------------------------- */
/* General
/* ----------------------------------------------- */

*{
    font-family: sans-serif;
    font-size: 12px;
    color: #798e94;
    text-decoration: none;
}
button,
input[type="submit"],
a{
    outline: none !important;
    outline-style: none !important;
    cursor: pointer;
}
button::-moz-focus-inner {
    border: 0;
}
input[type="submit"]::-moz-focus-inner{
    border: 0;
}
a::-moz-focus-inner {
    border: 0;
}

/* ----------------------------------------------- */
/* Button
/* ----------------------------------------------- */

.flatButton{
    padding:5px 15px;
    background:#E2ECEE;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}
.standardButton{
    padding:5px 15px;
    border: 1px solid #CED5D7;
    box-shadow:0 0 0 3px #EEF5F7;
    border-radius: 7px;
    text-shadow: 1px 1px 0px white;

    background: #e4f1f6;
    background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%);
}
.standardButton:hover{
    background: #edfcff;
    background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
    background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%);
}
.standardButton:active{
    background: #cfe6ef;
    background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
    background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}

/* ----------------------------------------------- */
/* Toast
/* ----------------------------------------------- */

#toast {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background: #2a6581dd;
    color: #dbe9f0;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}
#toast.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}
@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

/* ----------------------------------------------- */
/* Dropdown Category
/* ----------------------------------------------- */

.dropbtnCategory {
    margin-top: 10px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    position: absolute;
    display: none;
    background: #E2ECEEff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 6px 6px 6px;
    margin-top: -3px;
}
.dropdown-content a {
    color: #798e94;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    /*! background: #3e8e41; */
    opacity: 0.8;
}

/* ----------------------------------------------- */
/* Dropdown User
/* ----------------------------------------------- */

.dropbtnUser {
    padding:3px 15px;
    background:#fff;
    border:0 none;
    cursor:pointer;
    border-radius: 5px;
}
.dropdown-content-user {
    position: absolute;
    background: #E2ECEEff;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 0px 6px 6px 6px;
    margin-top: 0px;
    text-align: center;
    margin-left: -50px;
  display: none;
}
.dropdown-content-user a {
    color: #798e94;
    cursor: pointer;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content-user a:hover {
    background-color: #f1f1f1
}
.dropdown-content-user input{
    color: #798e94;
    padding: 12px 16px;
    width: 100%;
    text-decoration: none;
    display: block;
        border: none;
    /* background: fff0; */
        background: #E2ECEEff;
  cursor: pointer;
}
.dropdown-content-user input:hover {
    background-color: #f1f1f1
}
.dropdown:hover .dropdown-content-user {
    display: block;
}

/* ----------------------------------------------- */
/* Modal Window - Shopping Cart
/* ----------------------------------------------- */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0,0,0,0.4);
}
.modal-content {
    margin: 5% auto;
    padding: 20px 45px;
    border: 1px solid #888;
    width: 525px;
    border: 1px solid #CED5D7;
    border-radius: 6px;
    background: #ffff;
    box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
}
#cartEmpty{
    display: flex;
    font-size: 20px;
    font-weight: bold;
    margin: 0px 30%;
    padding: 87px 0;
}
.close {
    color: #798e94;
    float: right;
    font-size: 20px;
    font-weight: bold;
    background: #E2ECEE;
    border-radius: 20px;
    padding: 0px 5px 1px 5px;
    transition: 150ms;
    margin-left: 50px;
}
.close:hover,
.close:focus {
    color: #798e94cc;
    text-decoration: none;
    cursor: pointer;
    transition: 150ms;
}
table {
    width: 520px;
    text-align: left;
    border-collapse: collapse;
    border-radius: 6px;
}
tr{
    background: #fff;
    border-radius: 6px;
}
th{
    background: #E2ECEE;
    color: #798e94;
    padding: 5px;
    padding-left: 10px;
    border-top: 2px solid #798e94aa;
    border-bottom: 2px solid #798e94aa;
    border-radius: 0px;
}
td{
    padding: 5px;
    padding-left: 10px;
}
.delete{

}
.delete:hover,
.delete:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
table input[type="text"]{
    display: none;
}
table input[type="submit"]{
    text-decoration: none;
    border: none;
    background: #ccc0;
    padding: 1px;
}
#btnClear{
    width: 70px;
}
#btnBuy{
    width: 70px;
}









